{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="starter-template">
        <h1>Welcome !</h1>
        <p class="lead">This is the front page of your system API. See below the available functions.</p>
        <p>Browse the Help page to get configuration, authentication info and tips !</p>
        <br/>
        <div class="row">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      /ls/{path}
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body text-left">
                    List all files in the directory. The path must be in the whitelist but not in the blacklist.<br/><br/>
                      <dl class="dl-horizontal">
                          <dt>Response for</dt>
                          <dd>/ls/home/admin/</dd>
                      </dl>
                      <pre>
    {
      "files": [
        {
          "fileGID": 1000,
          "fileUID": 1000,
          "filedate": 1413880336.6069834,
          "filename": "sysAPI-1.0.deb",
          "filepath": "/home/admin/sysAPI-1.0.deb",
          "filepermissions": "0644",
          "filesize": 62816,
          "isdir": false,
          "isfile": true,
          "islink": false
        },
        {
          "fileGID": 1000,
          "fileUID": 1000,
          "filedate": 1413879749.030986,
          "filename": ".ssh",
          "filepath": "/home/admin/.ssh",
          "filepermissions": "0700",
          "filesize": 4096,
          "isdir": true,
          "isfile": false,
          "islink": false
        }
      ],
      "path": "/home/admin/"
    }
                      </pre>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      /cat/{path}
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body text-left">
                    Retrieve file content. Retrieve only first 50kB of utf8 readable files.
                       <dl class="dl-horizontal">
                          <dt>Response for</dt>
                          <dd>/cat/home/admin/hello.txt</dd>
                      </dl>
                      <pre>
{
  "file": {
    "filecontent": "Hello World!\n",
    "filelimit": 50000,
    "filepath": "/root/hello.txt",
    "filesize": 13
  }
}
                      </pre>
                  </div>
                </div>
              </div>
             <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      /uptime
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body text-left">
                    Get the uptime
                       <dl class="dl-horizontal">
                          <dt>Response for</dt>
                          <dd>/uptime</dd>
                      </dl>
                      <pre>
{
  "uptime": "0:14:00.420000"
}
                      </pre>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
{% endblock %}